* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #666256;
  --tertiary-color: #ebc196;
}

/* header section */

header {
  background: var(--tertiary-color);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 a {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
/* header ends, unviseral stylings begin */
.main-body {
    background: var(--secondary-color);
}

section {
    padding: 60px;
    width: 100%;
}

.section-header  {
    padding-top: 30px;
    color: var(--primary-color);
    font-size: 48px;
    margin: 0 auto;
    letter-spacing: 3.5px;
}

section p {
    color: var(--primary-color);
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
}

/* about section */

#about, #work, #contact {
    text-align: center;
}

.moshe-pic {
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
}

article .section-text {
    padding: 20px 0;
}

/* work section */

.work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.apps {
    margin: 20px;
    flex: 1;
}

#first-app {
    width: 650px;
}

.work img {
    width: 500px;
}

.img-text {
    color: var(--primary-color);
    font-size: 17px;
    margin: 30px 0;
}

#first-app:hover {
    width: 550px;
}

.work img:hover {
    width: 400px;
}