* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #c3884d;
  --tertiary-color: #0f0e0e;
}

/* header section */

header {
  background: var(--secondary-color);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 a {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
/* header ends, unviseral stylings begin */
.main-body {
  background: var(--tertiary-color);
}

section {
  padding: 60px;
  width: 100%;
}

.section-header {
  padding-top: 30px;
  color: var(--primary-color);
  font-size: 48px;
  margin: 0 auto;
  letter-spacing: 3.5px;
}

section p {
  color: var(--secondary-color);
  line-height: 1.7;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
}

/* about section */

#about,
#work,
#contact {
  text-align: center;
}

#about {
    padding-top: 25px;
}

.moshe-pic {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border-radius: 50%;
}

.moshe-pic:hover {
    opacity: 40%;
}

article .section-text {
  padding: 20px 0;
}

/* work section */

#work {
    padding-bottom: 20px;
}

.work {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.apps {
  margin: 20px;
  flex: 1;
}

#first-app {
  width: 650px;
}

.work img {
  width: 500px;
}

.img-text {
  color: var(--secondary-color);
  font-size: 17px;
  margin: 30px 0;
}

#first-app:hover {
  width: 550px;
  opacity: 50%;
}

.work img:hover {
  width: 400px;
  opacity: 50%;
}

/* footer */

#contact {
    padding-top: 0;
}

footer {
  margin: 0;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

#footer-section-header {
  color: var(--primary-color);
  padding-bottom: 30px;
}

.footer-p {
  color: var(--secondary-color);
}

.footer-p a {
  text-decoration: none;
  color: var(--primary-color);
}

/* media queries */

@media screen and (max-width: 768px){
    header {
        justify-content: space-evenly;
        align-items: flex-end;
    }
header nav ul li a {
    font-size: 20px;
}

#first-app, .work img {
    width: 350px;
}

#first-app:hover, .work img:hover {
    width: 350px;
}

.flex-container {
    flex-wrap: wrap;
}

}

@media screen and (max-width: 575px){
 section {
     padding: 20px;
 }

 header {
     justify-content: center;
     position: relative;
 }

 header nav ul li a {
     font-size: 20px;
 }

 #first-app, .work img {
     width: 250px;
 }

 .img-text {
     margin: 15px 0;
 }

 #contact {
    margin: 0;
    padding-bottom: 30px;
 }

 #footer-section-header {
     padding-top: 10px;
 }

 /* .flex-container {
     flex-wrap: wrap;
 } */
}